body {
    padding: 0;
    margin: 0;
    background-color: #F1EFEC;
    font-family: roboto;
}
.main {
    width: 100%;
    height: 100%;
    margin-top: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.styleLine {
    width: 170%;
    margin-bottom: -15%;
}
.styleLine :nth-child(1) {
    transform: rotate(90deg);
    border-radius: 3px;
    width: 0;
    height: 2px;
    margin-top: -20%;
    background-color: black;
    outline: none;
    animation-name: line1;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-delay: 0.5s;
    opacity: 0;
}
.history {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    white-space: nowrap;
    margin-bottom: 300%;
}
.content {
    width: 25%;
    height: 100%;
    margin-bottom: 2%;
}
.circles {
    height: 100%;
}
.circles :nth-child(1) p {
    display: none;
    animation-delay: 0s;
    margin-left: 0;
    font-size: 13px;
    height: 100%;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    border: 0;
    width: 100%;
    color:black;
    background-color: #FFFADC;
    white-space: nowrap;
    animation: text1 1s forwards;
}
.circles :nth-child(2) p {
    display: none;
    animation-delay: 0s;
    margin-left: 0;
    font-size: 13px;
    height: 100%;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    border: 0;
    width: 100%;
    color:black;
    background-color: #FFFADC;
    white-space: nowrap;
    animation: text2 1s forwards;
}
.circles :nth-child(3) p {
    display: none;
    animation-delay: 0s;
    margin-left: 0;
    font-size: 13px;
    height: 100%;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    border: 0;
    width: 100%;
    color:black;
    background-color: #FFFADC;
    white-space: nowrap;
    animation: text1 1s forwards;
}
.circles :nth-child(4) p {
    display: none;
    animation-delay: 0s;
    margin-left: 0;
    font-size: 13px;
    height: 100%;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    border: 0;
    width: 100%;
    color:black;
    background-color: #FFFADC;
    white-space: nowrap;
    animation: text2 1s forwards;
}
.circles :nth-child(5) p {
    display: none;
    animation-delay: 0s;
    margin-left: 0;
    font-size: 13px;
    height: 100%;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    border: 0;
    width: 100%;
    color:black;
    background-color: #FFFADC;
    white-space: nowrap;
    animation: text1 1s forwards;
}
.circles :nth-child(6) p {
    display: none;
    animation-delay: 0s;
    margin-left: 0;
    font-size: 13px;
    height: 100%;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    border: 0;
    width: 100%;
    color:black;
    background-color: #FFFADC;
    white-space: nowrap;
    animation: text2 1s forwards;
}
.circles :nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: -45%;
    margin-bottom: 30%;
    font-size: 30px;
    border-radius: 30px 30px 30px 30px;
    background-color: #18230F;
    border: 5px solid #18230F;
    color: #DCD7C9;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
    opacity: 0;
}
.circles :nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 7%;
    margin-left: -45%;
    margin-bottom: 30%;
    font-size: 30px;
    border-radius: 30px 30px 30px 30px;
    background-color: #255F38;
    border: 5px solid #255F38;
    color: #DCD7C9;
    left: -45%;
    top: 37%;
    animation-delay: 0.9s;
    opacity: 0;
}
.circles :nth-child(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 7%;
    margin-left: -45%;
    margin-bottom: 30%;
    font-size: 30px;
    border-radius: 30px 30px 30px 30px;
    background-color: #67C090;
    border: 5px solid #67C090;
    color: #DCD7C9;
    left: -45%;
    top: 97%;
    animation-delay: 1.7s;
    opacity: 0;
}
.circles :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 7%;
    margin-left: 40%;
    margin-bottom: 30%;
    font-size: 30px;
    border-radius: 30px 30px 30px 30px;
    background-color: #27391C;
    border: 5px solid #27391C;
    color: #DCD7C9;
    right: -45%;
    top: -9%;
    animation-delay: 0.5s;
    opacity: 0;
}
.circles :nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 7%;
    margin-left: 40%;
    margin-bottom: 30%;
    font-size: 30px;
    border-radius: 30px 30px 30px 30px;
    background-color: #1F7D53;
    border: 5px solid #1F7D53;
    color: #DCD7C9;
    right: -45%;
    top: 67%;
    animation-delay: 1.3s;
    opacity: 0;
}
.circles .a2025 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 7%;
    margin-left: 40%;
    margin-bottom: 30%;
    font-size: 30px;
    border-radius: 30px 30px 30px 30px;
    background-color: #90C67C;
    border: 5px solid #90C67C;
    color: #DCD7C9;
    right: -45%;
    top: 130%;
    animation-delay: 2.1s;
    opacity: 0;
}
.history :nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 7%;
    margin-top: -275%;
    margin-left: -50%;
    margin-bottom: 30%;
    font-size: 15px;
}
.history :nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 7%;
    margin-top: 45%;
    margin-left: 70%;
    margin-bottom: 30%;
    font-size: 15px;
}
.history :nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 7%;
    margin-top: 45%;
    margin-left: -65%;
    margin-bottom: 30%;
    font-size: 15px;
}
.history :nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 7%;
    margin-top: 45%;
    margin-left: 50%;
    margin-bottom: 30%;
    font-size: 15px;
}
.history :nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 7%;
    margin-top: 35%;
    margin-left: -45%;
    margin-bottom: 30%;
    font-size: 15px;
}
.history :nth-child(6) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 7%;
    margin-top: 45%;
    margin-left: 35%;
    margin-bottom: 30%;
    font-size: 15px;
}
.circles :nth-child(n):hover p {
    display: flex;
}
.circles :nth-child(1):hover, .circles :nth-child(2):hover, .circles :nth-child(3):hover, .circles :nth-child(4):hover, .circles :nth-child(5):hover, .circles :nth-child(6):hover {
    box-shadow: 2px 1px 15px 5px grey;
}
.circles :nth-child(odd) {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: circles1;
}
.circles :nth-child(even) {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: circles2;
}
@keyframes line1 {
    from{width: 0;}
    to{width: 100%; height: 2px; opacity: 1;}
}
@keyframes circles1 {
    from{transform: translateX(-20px); opacity: 0;}
    to{transform: translateX(0); opacity: 1;}
}
@keyframes circles2 {
    from{transform: translateX(20px); opacity: 0;}
    to{transform: translateX(0); opacity: 1;}
}
@keyframes text1 {
    from{transform: translateX(-20px); opacity: 0;}
    to{transform: translateX(0); opacity: 1;}
}
@keyframes text2 {
    from{transform: translateX(20px); opacity: 0;}
    to{transform: translateX(0); opacity: 1;}
}
@media (max-width:1182px) {
    .history :nth-child(1) {
        margin-top: -25%;
    }
}
@media (max-width:700px) {
    .circles :nth-child(n){
        width: 40vw;
        position: relative;
        margin-left: -50%;
        margin-right: 200%;
    }
    .styleLine {
        width: 300vw;
    }
}
@media (max-width:500px) {
    .circles :nth-child(n){
        width: 70vw;
        position: relative;
        margin-left: -100%;
        margin-right: 200%;
    }
    .styleLine {
        width: 650vw;
    }
}